/* Logo component */

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-box {
    display: block;
    background-color: var(--alt);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6) inset;
}

.logo-name {
    font-weight: bolder;
    letter-spacing: -2px;
}

/* Form */

form {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}

input[type="search"] {
    appearance: none;
    border: none;
    font-size: 16px;
    color: var(--white);
    background-color: var(--shadow);
    border-radius: 10px 0 0 10px;
    letter-spacing: -1px;
    padding-left: 10px;
}

input[type="search"]:focus {
    outline: none;
    border: 1px solid rgba(31, 31, 31, 0.6);
}

input[type="search"]::placeholder {
    color: var(--white);
    opacity: 1;
}

/* icon */

.search-icon {
    background-color: var(--dark);
    fill: var(--white);
    border: 1px solid var(--dark);
    border-radius: 0 10px 10px 0;
    padding: 10px 15px;
}

.search-icon svg {
    width: 18px;
    height: 18px;
}

.search-icon:focus {
    outline: none;
    border: 1px solid var(--alt);
}

/* Toggle component */

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B8B8B8;
    background-color: var(--dark);
    box-shadow: 0 5px 5px 0 var(--shadow);
    border-radius: 10px;
    padding: 10px 20px;
    gap: 10px;
}

.toggle-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-btns button {
    transition: 0.5s ease;
    border-radius: 25px;
}

.toggle-btns button.active {
    background-color: var(--alt);
}

@media only screen and (min-width: 1081px) {
    .logo-box {
        width: 32px;
        height: 32px;
    }

    .logo-name {
        font-size: 30px;
    }

    /* Form */

    input[type="search"] {
        min-width: 300px;
    }

    /* Buttons */

    .toggle-btns button {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .logo-name {
        font-size: 5vw;
    }
    
    .logo-box {
        width: 32px;
        height: 32px;
    }

    /* Form */

    input[type="search"] {
        min-width: 40vw;
        max-width: 50vw;
        min-height: 5vh;
    }

    .toggle-btns button {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .logo-name {
        font-size: 30px;
    }
    
    .logo-box {
        width: 32px;
        height: 32px;
    }

    /* Form */

    input[type="search"] {
        min-width: 70vw;
        max-width: 80vw;
        min-height: 7vh;
    }

    .toggle-btns button {
        width: 30px;
        height: 30px;
    }
}