/* Overview component */

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-container {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.weather-main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: -1px;
    min-width: clamp(300px, 350px, 400px);
    font-size: 16px;
    padding: 25px;
}

.weather-main > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-main > .location {
    font-size: 32px;
}

.weather-main > .current-temp {
    justify-content: center;
    gap: 20px;
    font-size: 5rem;
}

.weather-props {
    display: flex;
    justify-content: space-evenly;
    background-color: #373737;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
}

.prop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.prop-sub {
    color: #B8B8B8;
    font-size: 16px;
}

.prop-val {
    align-self: center;
    font-size: 24px;
}

.prop-icon > img {
    width: 50px;
}

    /* Details component */

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .info-icon > img {
        width: 75px;
    }

    /* Outlook component */

    .outlook {
        max-width: clamp(300px, 350px, 400px);
    }

    .outlook ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* Forecast component */

    .forecast {
        grid-column: 1 / 4;
    }

    .forecast-table {
        width: 100%;
    }

    .forecast tr {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .forecast th {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

    .forecast-icon {
        width: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  
}

@media only screen and (max-width: 767px) {
  
}