/* logo */

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-box {
    display: block;
    background-color: var(--alt);
    box-shadow: 4px 4px 4px 0 rgb(80, 80, 80);
}

.logo-name {
    font-weight: bolder;
    letter-spacing: -2px;
    color: rgb(31, 31, 31);
}

/* form */

form {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 var(--trim);
}

input[type="search"] {
    appearance: none;
    border: none;
    color: black;
    background-color: rgb(246, 245, 245);
    border-radius: 10px 0 0 10px;
    letter-spacing: -1px;
}

input[type="search"]:focus {
    outline: none;
    border: 1px solid rgba(31, 31, 31, 0.6);
}

input[type="search"]::placeholder {
    color: black;
    opacity: 0.8;
}

/* icon */

.search-icon {
    background-color: var(--alt);
    fill: white;
    border: 1px solid var(--alt);
    border-radius: 0 10px 10px 0;
}

.search-icon:focus {
    outline: none;
    border: 1px solid rgba(31, 31, 31, 0.6);
}

@media only screen and (min-width: 1081px) {
    .logo-name {
        font-size: 30px;
    }
    
    .logo-box {
        width: 32px;
        height: 32px;
    }

    input[type="search"] {
        font-size: 16px;
        min-width: 300px;
        padding-left: 10px;
    }

    .search-icon {
        padding: 10px 15px;
    }

    .search-icon svg {
        width: 18px;
        height: 18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  
}

@media only screen and (max-width: 767px) {
  
}