@font-face {
    font-family: "Manrope";
    src: url(./assets/fonts/Manrope/static/Manrope-Regular.ttf) format("truetype"),
         url(./assets/fonts/Manrope/static/Manrope-Bold.ttf) format("truetype"),
         url(./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf) format("truetype");
}

:root {
    --base: #0F0B3E;
    --alt: #D9692A;
    --trim: rgba(118, 118, 118, 0.5);
    --off: rgb(246, 245, 245);
    --font: "Manrope";
    font-family: var(--font);
    background: rgb(167,161,255);
    background: linear-gradient(90deg, rgba(167,161,255,1) 0%,
              rgba(213,180,174,1) 25%,
              rgba(255,197,99,1) 50%, 
              rgba(206,212,189,1) 75%,
              rgba(170,222,255,1) 100%);
    min-width: 300px;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

input {
    font-family: var(--font);
    font-weight: bolder;
}

button {
    font-family: var(--font);
    appearance: none;
    border: none;
}

@media only screen and (min-width: 1081px) {
    header {
        padding: 20px 0;
    }

    button:hover {
        cursor: pointer;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  
}

@media only screen and (max-width: 767px) {
  
}