@font-face {
    font-family: "Manrope";
    src: url(./assets/fonts/Manrope/static/Manrope-Regular.ttf) format("truetype"),
         url(./assets/fonts/Manrope/static/Manrope-Bold.ttf) format("truetype"),
         url(./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}

:root {
    --white: white;
    --dark: #373737;
    --alt: #2892F4;
    --trim: rgba(118, 118, 118, 0.5);
    --shadow: rgba(0, 0, 0, 0.4);
    --font: "Manrope";
    --gap: 25px;
    font-family: var(--font);
    min-width: 300px;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-image: url(./assets/Foam-100s-1692px.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
}

input {
    font-family: var(--font);
    font-weight: bolder;
}

button {
    font-family: var(--font);
    appearance: none;
    border: none;
}

@media only screen and (min-width: 1081px) {
    header {
        margin-top: var(--gap);
    }

    main {
        margin-bottom: var(--gap);
    }

    button:hover {
        cursor: pointer;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    header {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 767px) {
    header {
        margin-top: 5%;
    }

    main {
        margin-bottom: 5%;
    }
}